:root {
  font-size: calc(12px + 0.3vw);
  --gr-unit-text: calc(0.9px + 0.013vw);

  --gr-border: 0.15rem;

  --gr-sans: Lexend, sans-serif;
  --gr-serif: Vollkorn, serif;
  --gr-main: hwb(200 0% 40%);
  --gr-accent: hwb(350 20% 30%);
  --gr-sub: hwb(50 0% 52%);
  --gr-light: hwb(30 97% 2%);
  --gr-mid: hwb(30 92% 5%);
  --gr-dark: hwb(210 1% 75%);
  --gr-selection: hwb(190 50% 25%);

  --gr-list-title-color: var(--gr-accent);
  --gr-menu-link-color: var(--gr-accent);

  --gr-factor-dark: 50%;
  --gr-factor-light: 30%;
  
  --gr-accent-dark: color-mix(in oklab, var(--gr-accent), var(--gr-dark) 40%);
  --gr-accent-light: hwb(5 35% 10%);
  --gr-sub-dark: color-mix(in oklab, var(--gr-sub), var(--gr-dark) var(--gr-factor-dark));
  --gr-sub-dark: hwb(25 3% 35%);
  --gr-sub-light: hwb(50 30% 25%);
  --gr-main-dark: color-mix(in oklab, var(--gr-main), var(--gr-dark) var(--gr-factor-dark));
  --gr-main-light: hwb(190 20% 30%);
}

html {
  padding: 1rem 0;
}

body {
  min-width: 300px;
  max-width: 960px;
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: auto;
  background: var(--gr-light);
  padding: 1rem;
}

p {
  margin: 0.8rem 0;
}

::selection {
  color: var(--gr-dark);
  background-color: var(--gr-selection);
  text-decoration-color: var(--gr-dark);
}

a {
  color: var(--gr-accent);
  text-decoration: underline;
  font-weight: 700;
}

a:hover {
  text-decoration: none;
  color: var(--gr-accent-light);
}

#header,
#footer {
  background-color: var(--gr-light);
}

#header {
  padding-bottom: 1rem;
  border-bottom: var(--gr-border) solid var(--gr-dark);
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

#footer {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: var(--gr-border) solid var(--gr-dark);
}

#footer, #footer * {
  color: var(--gr-main-dark);
}

#header > hgroup {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  align-items: end;
}

#header h1 {
  font-size: 2rem;
  font-weight: 900;
  margin: 0;
  white-space: nowrap;
  color: var(--gr-main-dark);
}

#header p {
  font-family: var(--gr-serif);
  font-weight: 700;
  font-size: 1rem;
  color: var(--gr-accent-dark);
  margin: 0.3rem 0;
}

#logo {
  width: 4rem;
  height: 4rem;
}

* {
  font-family: var(--gr-serif);
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--gr-sans);
}

main {
  --gr-scalar: 16;
  font-size: calc(var(--gr-scalar) * var(--gr-unit-text));
}

body > .posts,
body > main {
  flex-grow: 1;
}

#menu > ul {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  gap: 0.4rem;
  margin: 0;
}

#menu, #menu * {
  font-family: var(--gr-serif);
  font-weight: 700;
  padding: 0;
}

#menu div {
  border-radius: 0.6rem;
  padding: 0.3rem 0.5rem;
}

#menu div:hover {
  background-color: var(--gr-mid);
  --gr-menu-link-color: var(--gr-accent-light);
}

#menu * {
  color: var(--gr-menu-link-color);
}

main h1 *,
main h2 *,
main h3 *,
main h4 *,
main h5 *,
main h6 * {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}

main h2 {
  font-family: var(--gr-serif);
  font-weight: 800;
  font-size: 1.6em;
  margin: 1.6rem 0 0.6rem 0;
  color: var(--gr-accent);
}

main h2 a:hover, main h5 a:hover {
  color: var(--gr-accent-light);
}

main h3 {
  font-family: var(--gr-serif);
  font-weight: 700;
  font-size: 1.45em;
  margin: 1.3rem 0 0.5rem 0;
  color: var(--gr-sub);
}

main h3 a:hover, main h6 a:hover {
  color: var(--gr-sub-light);
}

main h4 {
  font-family: var(--gr-serif);
  font-weight: 600;
  font-size: 1.3em;
  margin: 1.2rem 0 0.4rem 0;
  color: var(--gr-main);
}

main h4 a:hover {
  color: var(--gr-main-light);
}

main h4 {
  font-family: var(--gr-serif);
  font-weight: 800;
  font-size: 1.2em;
  margin: 1.2rem 0 0.4rem 0;
  color: var(--gr-main);
}

main h5 {
  font-family: var(--gr-serif);
  font-weight: 700;
  font-size: 1.15em;
  margin: 1.2rem 0 0.4rem 0;
  color: var(--gr-accent);
}

main h6 {
  font-family: var(--gr-serif);
  font-weight: 600;
  font-size: 1.15em;
  margin: 1.2rem 0 0.4rem 0;
  color: var(--gr-sub);
}

main p {
  color: var(--gr-dark);
}

#main-header hgroup p, #main-header hgroup p * {
  font-weight: 600;
  --gr-scalar: 15;
  font-size: calc(var(--gr-scalar) * var(--gr-unit-text));
  color: var(--gr-accent-dark);
  margin: calc(var(--gr-scalar) * var(--gr-unit-text) * 0.6) 0 0 0;
}

.pubdate,
.pubdate * {
  font-family: var(--gr-serif);
  font-weight: 700;
  --gr-scalar: 13;
  font-size: calc(var(--gr-scalar) * var(--gr-unit-text));
  color: var(--gr-accent);
  margin: 0.6rem 0 1.6rem 0;
}

#main-header h1, #main-header h1 * {
  font-family: var(--gr-sans);
  font-weight: 900;
  font-size: 2.4rem;
  color: var(--gr-main);
  margin: 1.4rem 0 0.5rem 0;
}

#main-header h2, #main-header h2 * {
  font-family: var(--gr-sans);
  font-weight: 800;
  font-size: 1.5rem;
  color: var(--gr-main);
  margin: 0 0 0.5rem 0;
}

#main-header a {
  color: var(--gr-sub-dark);
}

#main-header a:hover {
  color: var(--gr-sub);
}

#list {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.list-container {
  display: flex;
  flex-flow: column;
}

.list-group {
  display: flex;
  flex-flow: column;
  flex: 8;
  gap: 0.4rem;
  padding-left: 2rem;
}

.list-item p {
  margin: 0.2rem 0;
}

.list-heading {
  margin: 0.2rem 0;
}

/* year */
h2.list-heading {
  font-family: var(--gr-serif);
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--gr-main-dark);
}

/* month */
h3.list-heading {
  font-family: var(--gr-serif);
  font-size: 1.45rem;
  font-weight: 800;
  color: var(--gr-main);
}

.list-item article {
  border-radius: 1rem;
  padding: 0.6rem;
}

.list-item article:hover {
  background-color: var(--gr-mid);
  --gr-list-title-color: var(--gr-accent-light);
}

.list-title {
  color: var(--gr-list-title-color);
}

.adjacentPosts, .adjacentPosts * {
  font-weight: 700;
  --gr-scalar: 15;
  font-size: calc(var(--gr-unit-text) * var(--gr-scalar));
}
