{{ $page := .page }}
{{ $tags := .tags }}

{{ with $page.GetTerms $tags }}
  <figure>
    <figcaption>Tags</figcaption>
    <ul>
      {{ range . }}
        <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
      {{ end }}
    </ul>
  </figure>
{{ end }}


{{ with $page.GetTerms $tags }}
  {{ $label := (index . 0).Parent.LinkTitle }}
  <div>
    <div>{{ $label }}:</div>
    <ul>
      {{ range . }}
        <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
      {{ end }}
    </ul>
  </div>
{{ end }}
