{{ define "main" }}
<main>
  <article>
    <header id="main-header">
      <hgroup>
        <h1>{{ .Title }}</h1>
        {{ if .Description }}<p>{{ .Description }}</p>{{ end }}
      </hgroup>
    </header>
    {{ .Content }}
    <article id="list">
      {{ $section := .Page.Section }}
      {{ range (.Page.RegularPages.GroupByDate "2006") }}
        {{ if (where .Pages "Section" $section) }}
          <div class="list-container">
            {{ $yearCurrent := .Key }}
            <h2 class="list-heading">{{ $yearCurrent }}</h2>
            <div class="list-group">
              {{ range (.Pages.GroupByDate "January") }}
                {{ $moCurrent := .Key }}
                {{ $moSize := .Pages.Len }}
                {{ if (where .Pages "Section" $section) }}
                  <div class="list-container">
                    <h3 class="list-heading">{{ $moCurrent }}</h3>
                    <div class="list-group">
                      {{ range .Pages }}
                        <div class="list-item">
                          <a href="{{ .RelPermalink }}">
                            <article>
                              {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
                              {{ $dateHuman := .Date | time.Format "02 Jan 06" }}
                              <h4 class="list-title list-heading">{{ .Title }}</h4>
                              <p>{{ .Description }}</p>
                              <p><time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time></p>
                            </article>
                          </a>
                        </div>
                      {{ end }}
                    </div>
                  </div>
                {{ end }}
              {{ end }}
            </div>
          </div>
        {{ end }}
      {{ end }}
    </article>
  </article>
</main>
{{ end }}