{{ define "main" }}
  <article class="posts">
    <main>
      <article>
        <header>
          <hgroup>
            <h1>{{ .Title }}</h1>
            {{ if .Description }}<p>{{ .Description }}</p>{{ end }}
          </hgroup>

          {{ if .Date }}
            {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
            {{ $dateHuman := .Date | time.Format "02 Jan 2006" }}
            <p>Published <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time></p>
          {{ end }}
        </header>

        {{ .Content }}

        <footer>
          {{ partial "tags.html" (dict "tags" "tags" "page" .) }}
        </footer>
      </article>
    </main>

    {{ if or .NextInSection .PrevInSection }}
      <footer>
        <div class="adjacentPosts">
          {{ if .NextInSection }}
            {{ with .NextInSection }}
              <p>Next post: <a href="{{ .RelPermalink }}">{{ .Title }}</a></p>
            {{ end }}
          {{ end }}
          {{ if .PrevInSection }}
            {{ with .PrevInSection }}
              <p>Previous post: <a href="{{ .RelPermalink }}">{{ .Title }}</a></p>
            {{ end }}
          {{ end }}
        </div>
      </footer>
    {{ end }}
  </article>
{{ end }}
