<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0" />

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

<meta name="theme-color" content="#178279" />

{{ if .Params.author }}
  <meta name="author" content="{{ .Params.author.name }}" />
{{ else }}
  <meta name="author" content="{{ .Site.Params.admin.name }}" />
{{ end }}

{{ with .Description }}
  <meta name="description" content="{{ . }}" />
{{ end }}

<title>{{ printf "%s – %s" .Page.LinkTitle .Site.Params.admin.name }}</title>

{{ partialCached "style.html" . }}
{{ if eq .LinkTitle "Status" }}{{ partial "style_quips.html" . }}{{ end }}

{{ partialCached "head-custom.html" . .IsHome }}
