<header class="m-site-header l-flex l-flex--column">

  {{ partial "navbar.html" (dict "menuID" "main" "page" .) }}

  <div class="m-site-banner l-flex l-flex--row">
    <a href="/"><img class="m-site-banner__logo" src="/favicon.svg" alt="Site logo" height="100" width="100" /></a>
    <div class="m-site-banner__container l-flex l-flex--column">
      <h1 class="m-site-banner__site-title"><a href="/">{{ .Site.Param "longTitle" }}</a></h1>
      <!-- <p>{{ .Site.Param "tagline" }}</p> -->

      <!-- todo: fix this mess -->
      {{ range sort .Site.Data.quips "t" | last 1 }}
        {{ $dateMachine := .t | time.Format "2006-01-02T15:04:05-07:00" }}
        {{ $dateHuman := .t | time.Format "2006-Jan-02 15:04" }}
        {{ $dateURL := .t | time.Format "2006-01-02-1504" }}
        <p class="m-site-banner__tagline"><a class="m-site-banner__status-link" href="/status#{{ $dateURL }}">STATUS <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>:</a> {{ .q }}</p>
      {{ end }}
    </div>
  </div>
</header>
