{{ partial "navbar.html" (dict "menuID" "main" "page" .) }}
<hgroup>
  <!--
  <img id="logo" src="/logo.png" alt="Site logo" height="100px" width="100px" />
  -->
  <a href="/"><img id="logo" src="/favicon.svg" alt="Site logo" height="100px" width="100px" /></a>
  <span>
    <h1 class="site-title"><a href="/">{{ .Site.Param "longTitle" }}</a></h1>
    <!-- <p>{{ .Site.Param "tagline" }}</p> -->

    <!-- todo: fix this mess -->
    {{ range sort .Site.Data.quips "t" | last 1 }}
      {{ $dateMachine := .t | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .t | time.Format "2006-Jan-02 15:04" }}
      {{ $dateURL := .t | time.Format "2006-01-02-1504" }}
      <p class="tagline"><a href="/status#{{ $dateURL }}">STATUS <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>:</a> {{ .q }}</p>
    {{ end }}
  </span>
</hgroup>
