{{ define "main" }}
<main class="m-article">
  <article>
    <header class="m-article__header">
      <hgroup>
        <h1 class="m-article__title">{{ .Data.Singular | title }}: {{ .Title | lower }}</h1>
      </hgroup>
      <p class="m-article__description">Back to <a href="/{{ .Data.Plural | lower }}/">all {{ .Data.Plural | lower }}</a>.</p>
    </header>
    <div class="m-article__home">
      {{ .Content }}
    </div>
    <article class="m-list">
      <div class="m-list__container">
        {{ range .Pages.ByDate.Reverse }}
          <div class="m-list__item">
            <article>
              {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
              {{ $dateHuman := .Date | time.Format "02 Jan 06" }}
              <h4 class="m-list__item-title">
                <a class="m-list__item-link" href="{{ .RelPermalink }}">
                  {{ .Title | .RenderString }}
                </a>
              </h4>
              <p class="m-list__item-description">{{ .Description | .RenderString }}</p>
              <p class="m-list__item-date"><time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time></p>
            </article>
          </div>
        {{ end }}
      </div>
    </article>
  </article>
</main>
{{ end }}
          
