main > article {
  display: flex;
  flex-flow: column;
  gap: 0.4rem;
}

main > article > p {
  margin: 0.4rem 0;
}

.h-entry {
  display: flex;
  flex-flow: row;
  gap: 0.2rem;
  background-color: var(--qx-midground);
  border-radius: 0.2rem;
  padding: 0.4rem;
  font-size: 13px;
}

.h-entry * {
  font: inherit;
  margin: 0.2rem 0;
}

.quip-t {
  font:900 calc(var(--qx-unit-text) * 12) var(--qx-mono);
  flex: 0 0 7em;
}

.quip-q {
  flex: 1 content;
  font: 500 calc(var(--qx-unit-text) * 14) var(--qx-mono);
}
